<head>
	<!-- Fichiers CSS -->
	<link rel="stylesheet" href="{{ asset ('/css/supp.lieu.css') }}"/>
</head>

<div class="container">
	<div class="offset-md-1">
		<div class="form" style="width:90%;">
			<form method="post" action="{{ path('hotel_delete', {'id': hotel.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer l'hôtel ?');">
				<input type="hidden" name="_method" value="DELETE">
				<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hotel.id) }}">
				<button class="btn">Supprimer</button>
			</form>
		</div>
	</div>
</div>
